@model IEnumerable<ProCareMvc.presentation.Models.DepartmentVM>

@{
    ViewData["Title"] = "Department List";
}

<section class="hero-wrap js-fullheight  mt-5 " style="background-image: url('images/bg_3.jpg'); min-height: 188vh;" data-section="home" data-stellar-background-ratio="0.5">
    <br />
    <br />
    <br />
    <div class="container">
        <h1>Department List</h1>

        <p>
            <a asp-action="Create" class="btn btn-primary mb-3">Create New</a>
        </p>

        @if (!Model.Any())
        {
            <div class="alert alert-info" role="alert">
                No departments available.
            </div>
        }
        else
        {
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Details</a>
                                @*<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }



    </div>
    
</section>
