@model ProCareMvc.presentation.Models.PatientHestoryVM

@{
    ViewData["Title"] = "CreatePatientHistoryRecord";
}
<br />
<br />
<br />
<br />

<h1>CreatePatientHistoryRecord</h1>

<h4>PatientHestoryVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreatePatientHistoryRecord">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Treatment" class="control-label"></label>
                <input asp-for="Treatment" class="form-control" />
                <span asp-validation-for="Treatment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diagnosis" class="control-label"></label>
                <input asp-for="Diagnosis" class="form-control" />
                <span asp-validation-for="Diagnosis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medication" class="control-label"></label>
                <input asp-for="Medication" class="form-control" />
                <span asp-validation-for="Medication" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VisitDate" class="control-label"></label>
                <input asp-for="VisitDate" class="form-control" />
                <span asp-validation-for="VisitDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NextAppointment" class="control-label"></label>
                <input asp-for="NextAppointment" class="form-control" />
                <span asp-validation-for="NextAppointment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="Model.UsersList">
                    <option value="">-- Select User --</option>
                    @foreach(var user in Model.UsersList){

                        <option value="@user.Value">@user.Text</option>
                    }
                </select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ShowPatientHistoryList">Back to List</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    @* @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} *@
}
