@model ProCareMvc.Database.Entity.Order
@{
    ViewData["Title"] = "Order Details";
}
@* <div class="card p-4 shadow">
    <h3 class="text-primary">Order Details</h3>
    <p><strong>Doctor:</strong> @Model</p>
    <p><strong>Diagnose:</strong> @Model.DiagnoseDetails</p>
    <p><strong>Date:</strong> @Model.OrderDate.ToShortDateString()</p>
</div> *@