@model ProCareMvc.presentation.Models.ChangePasswordViewModel

@{
    ViewData["Title"] = "ChangePassword";
}


<section class="hero-wrap js-fullheight pt-5 mt-5" style="  min-height: 188vh; height: 100vh;" data-section="home" data-stellar-background-ratio="0.5">


<h4 class="text-secondary text-center mb-4"> </h4>
<hr class="mb-5" />
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
            <form asp-action="ChangePassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="OldPassword" class="control-label"></label>
                    <input asp-for="OldPassword" class="form-control" />
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NewPassword" class="control-label"></label>
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Change Password" class="btn btn-primary" />
                </div>
            </form>
    
    </div>
</div>

<div class="text-center mt-4">
       
            <a asp-action="Index">Back to List</a>
        


    </div>
<partial name="_ValidationScriptsPartial" />

</section>

