<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm fixed-top">
    <div class="container">
        <a class="navbar-brand text-primary fw-bold" href="/">ProCare</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
               <li class="nav-item"><a asp-controller="Home" asp-action="Index" class="nav-link"><span>Home</span></a></li>
				<li class="nav-item"><a href="#about-section" class="nav-link"><span>About</span></a></li>
				<li class="nav-item"><a asp-controller="Department" asp-action="Index" class="nav-link"><span>Department</span></a></li>
				<li class="nav-item"><a asp-controller="Doctor" asp-action="Index" class="nav-link"><span>Doctors</span></a></li>
				<li class="nav-item"><a href="#blog-section" class="nav-link"><span>Blog</span></a></li>
				<li class="nav-item"><a href="#contact-section" class="nav-link"><span>Contact</span></a></li>
				@* <li class="nav-item cta mr-md-2"><a href="appointment.html" class="nav-link">Appointment</a></li> *@
				@if (User.Identity.IsAuthenticated)
				{
					<li class="nav-item"><a asp-controller="Account" asp-action="LogOut" class="nav-link"><span>Logout</span></a></li>
				}
				else
				{
					<li class="nav-item"><a asp-controller="Account" asp-action="Login" class="nav-link"><span>Login</span></a></li>
					<li class="nav-item"><a asp-controller="Account" asp-action="PatientRegister" class="nav-link"><span>Register</span></a></li>
				}
            </ul>
        </div>
    </div>
</nav>